{% extends 'lab/base.html' %}

{% block content %}
<section id="add_datapoint">
   <form action="/add_datapoint/" method="POST" name="add_datapoint_form">{% csrf_token %}
      Description <input type="text" name="desc">
      Entity type <select name="entity_type">
      {% for et in entity_types %}
          <option value="{{ et.id }}">{{ et.name }}</select>
      {% endfor %}
      </select>

      Data <textarea name="data"></textarea>

      Label 1 <input type="text" name="labels[]">
      Label 2 <input type="text" name="labels[]">
      Label 3 <input type="text" name="labels[]">
    
      <button type="submit" name="submit">Add</button>
   </form>
</section>
{% endblock %}
