{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/style_no_pre.css' %}">
<title>Datalab</title>
</head>
<body>
<section id="head">
    <h1><a href="/">Datalab</a></h1>
</section>

<div class="container">
<section id="actions">
    <div class="action"><a href="/add_datapoint">➕<br>add datapoint</a></div>
    <div class="action"><a href="#">labels</a></div>
    <div class="action"><a href="/entities">entities</a></div>
    <div class="action"><a href="/api/datapoints/as_csv/">⬇️<br>download as csv</a></div>
    <div class="action"><a href="#">⬆️<br>import csv</a></div>
</section>

{% block content %}
{% endblock %}
</div><!--/.container-->

<script src="{% static 'js/lab.js' %}"></script>
