{% extends 'lab/base.html' %}

{% block content %}

<div class="mdl-cell mdl-cell--1-col">
    <button class="add_datapoint mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Add Datapoint
    </button>
</div>

<div class="mdl-cell mdl-cell--11-col">
    <table class="datapoints_table mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
        <tr>
            <th>ID</th>
          <th class="mdl-data-table__cell--non-numeric">Type</th>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">Data</th>
            <th class="mdl-data-table__cell--non-numeric">Desc.</th>
            <th class="mdl-data-table__cell--non-numeric">Labels</th>
            <th class="mdl-data-table__cell--non-numeric">Options</th>
        </tr>
      </thead>
      <tbody>
      {% for dp in datapoints %}
        <tr id="dp{{ dp.id}}">
            <td>{{ dp.id }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ dp.entity_type }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ dp.name }}</td>
            <td class="mdl-data-table__cell--non-numeric">
               {% if dp.entity_type.entity_type == 'img' %}
                   <img src="/api/datapoint/as_image/{{ dp.id }}">
               {% else %}
                   {{ dp.data|truncatechars:32  }}
               {% endif %}
            </td>
            <td class="mdl-data-table__cell--non-numeric">{{ dp.description|truncatechars:32 }}</td>
            <td class="mdl-data-table__cell--non-numeric">
                {% for label in dp.labels.all %}
                <span id="ll_{{ dp.id }}_{{ label.id }}" class="mdl-chip mdl-chip--deletable">
                    <span class="mdl-chip__text">{{ label }}</span>
                    <button data-dpid="{{ dp.id }}" data-id="{{ label.id }}" type="button" class="dp_label_delete mdl-chip__action"><i class="material-icons">cancel</i></button>
                </span>
                {% endfor %}

                <button data-id="{{ dp.id }}" class="add_label mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                  <i class="material-icons">add</i>
                </button>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <button data-id="{{ dp.id }}" class="dp_detail mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                  <i class="material-icons">info</i>
                </button>
                <button data-id="{{ dp.id }}" class="dp_delete mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                  <i class="material-icons">delete</i>
                </button>
            </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>

    <div class="pagination">
        <strong>Navigate datapoints pages:</strong>
        <div class="step-links">
            {% if datapoints.has_previous %}
                <a href="?page={{ datapoints.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ datapoints.number }} of {{ datapoints.paginator.num_pages }}.
            </span>

            {% if datapoints.has_next %}
                <a href="?page={{ datapoints.next_page_number }}">next</a>
            {% endif %}
        </div>
        <div class="pagination_form">
            <form action="?" method="get">Go to page # <input type="number" name="page"/>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                  <i class="material-icons">check</i>
                </button>
            </form>
        </div>
    </div><!-- /.pagination -->
</div>

{% endblock %}