{% extends 'lab/base.html' %}

{% block content %}

<div class="mdl-cell mdl-cell--6-col">
    <h2 id="datapoint-details">Label details</h2>

    <form action="/api/label/{{ datapoint.id }}" method="POST" name="update_label_form">{% csrf_token %}
      <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="name" name="name" value="{{ label.name }}">
            <label class="mdl-textfield__label" for="name">Name...</label>
          </div>
      </div>
      <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="desc" name="desc" value="{{ label.description }}">
            <label class="mdl-textfield__label" for="desc">Description...</label>
          </div>
      </div>
      <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="weight" name="weight" value="{{ label.weight }}">
            <label class="mdl-textfield__label" for="weight">Weight...</label>
          </div>
      </div>

      <hr>

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          Save
      </button>
   </form>

</div>

<div class="mdl-cell mdl-cell--4-col">
    <h2>Label usage</h2>

    <div>x</div>

</div>

{% endblock %}
