{% extends 'lab/base.html' %}

{% block content %}
<div class="mdl-cell mdl-cell--12-col">
    <h2>Latest datapoints</h2>

    <p>See the latest 16 datapoints</p>

    <div class="mdl-cell mdl-cell--12-col">
        <div id="latest-dp">
        {% for dp in latest_dps %}
          <div class="demo-card-image mdl-card mdl-shadow--2dp" style="background-image:url('/api/datapoint/as_image/{{ dp.id }}')">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="demo-card-image__filename"><a href="/datapoint/{{ dp.id }}">{{ dp.name }}</a></span>
              </div>
          </div>


        {% endfor %}
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        See all
    </button>
    </div>

</div>
<!-- <div class="mdl-cell mdl-cell--12-col">
    <h2>Search</h2>
</div> -->
{% endblock %}
