{% extends 'lab/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="mdl-cell mdl-cell--2-col">
    <p>Select the entity</p>

    <ul class="demo-list-item mdl-list">
        {% for entity in entity_types %}
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <span>{{ entity.name }}</span>
            </span>
            <span class="mdl-list__item-secondary-action">
                <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="entity_{{ entity.id }}">
                  <input type="radio" id="entity_{{ entity.id }}" class="mdl-radio__button" name="entity_id" value="{{ entity.id }}" />
                </label>
            </span>
         </li>
        {% endfor %}
    </ul>
</div>
<div class="mdl-cell mdl-cell--2-col click-capture-labels">
    <p>Add labels</p>

    <button class="add_label_import add_label mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
      <i class="material-icons">add</i>
    </button>
</div>
<div class="mdl-cell mdl-cell--8-col">

    <form action="/file-upload/" class="dropzone import-drop-zone" enctype="multipart/form-data">{% csrf_token %}
        <input type="hidden" name="entity_id" value="{{ entity_types.0.id }}"/>
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>

</div>

<script src="{% static 'js/dropzone.js' %}"></script>
{% endblock %}