{% extends 'lab/base.html' %}

{% block content %}

<div class="mdl-cell mdl-cell--1-col">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Add Label
    </button>
</div>

<div class="mdl-cell mdl-cell--11-col">
    <table class="labels-table mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="">Used</th>
            <th class="mdl-data-table__cell--non-numeric">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for label in labels %}
            <tr class="label" data-id="{{ label.id }}">
                <td class="mdl-data-table__cell--non-numeric">{{ label.name }}</td>
                <td class="usagenumWrapper"><span class="usagenum">-</span>x used</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <button data-id="{{ label.id }}" class="label_detail mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                        <i class="material-icons">info</i>
                    </button>
                    <button data-id="{{ label.id }}" class="label_detail mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                        <i class="material-icons">edit</i>
                    </button>
                    <button data-id="{{ label.id }}" class="label_detail mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                        <i class="material-icons">delete</i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}
